@media (min-width: 768px) {
  #menuBtn {
    display: none;}

  #navMenu {
    display: flex !important;
    flex-direction: row;}
  
  .home-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .spotlight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}
/*
.home-grid {
  grid-template-columns: 2fr 1fr 1fr;
}

#spotlights {
  grid-template-columns: repeat(3, 1fr);
}*/

.join-container {
  display: grid;
  gap: 1rem;
}

/* DESKTOP */
@media (min-width: 768px) {
  .join-container {
    grid-template-columns: 2fr 1fr;
  }
}

/* CARDS */
.membership-cards {
  display: grid;
  gap: 1rem;
}

.card {
  padding: 1rem;
  background: #eee;
  text-align: center;

  /* ANIMACIÓN */
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px);}
  to { opacity: 1; transform: translateY(0);}
}

/* MODAL */
dialog {
  padding: 1rem;
  border-radius: 8px;
}

::backdrop {
  background: rgba(0,0,0,0.5);
}