@media (min-width: 768px) {
  #menuBtn {
    display: none;}

  #navMenu {
    display: flex !important;
    flex-direction: row;}
  
  .home-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .spotlight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

}
/*
.home-grid {
  grid-template-columns: 2fr 1fr 1fr;
}

#spotlights {
  grid-template-columns: repeat(3, 1fr);
}*/